.panel {
  height: 50vh;
	aspect-ratio: 2 / 3;

  border-style: solid;
  border-image: url(/ui/panel_menu.png);
  border-image-slice: 40 40 40 40 fill;
  border-image-repeat: stretch;
  border-width: 20px;

  display: flex;
	gap: 1vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

	padding-top: 13px;
}