.panel {
	width: 200px;
  height: 100px;

  border-style: solid;
  border-image: url(/ui/panel_player.png);
  border-image-slice: 40 40 40 40 fill;
  border-image-repeat: stretch;
  border-width: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  pointer-events: none;

	padding-top: 13px;
}

.headshot {
	width: 70px;
  height: 70px;

  background-image: url(/ui/panel_glass_screws.png);
  background-size: 100% 100%;

	object-fit: cover;
	padding: 2px;
	border-radius: 7px;
}
