@font-face {
  font-family: 'ui-font';
  src: url('/fonts/Kenny_Future.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GameFont', sans-serif;
}

body {
  overflow: hidden;
}
